.error {
  color: red;
}


form.form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(244, 244, 246, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.input{
  background: #f8f8f8;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000,
              0 0 25px #000000,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;

}



a{

}

.login{
  width: 100px;
  height: 40px;
  color: rgb(9, 3, 3);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: sticky;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(27, 10, 224, 0.5),
   7px 7px 20px 0px rgba(241, 238, 238, 0.1),
   4px 4px 5px 0px rgba(0,0,0,.1);

  

}


button{
 
  color: rgb(9, 3, 3);
  border-radius: 2px;

  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
   box-shadow:inset 2px 2px 2px 0px rgba(27, 10, 224, 0.5),
   7px 7px 20px 0px rgba(241, 238, 238, 0.1),
   4px 4px 5px 0px rgba(0,0,0,.1);

  

}


